<br>
<h2>Welcome to Blackjack!</h2>
<br>
<form class="form-inline" action="/login" method="post">
  <fieldset>
    <legend>What's your name?</legend>
    <input type="text" placeholder="State your name" name="username">
    <button type="submit" class="btn btn-success">Submit</button>
  </fieldset>
</form>
